@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #fff;
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  .content {
    margin-left: 32rem;
    margin-right: 32rem;

    @media (max-width: 1324px) {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}


@layer base {
  html {
    font-family: 'Proxima Nova', system-ui, sans-serif;
  }
}

.hero-custom {

  @media screen and (min-height: 1224px) {
    margin-top: -400px;
  }

  @media screen and (min-height: 1024px) and (max-height: 1224px) {
    margin-top: -300px;
  }

  @media screen and (min-height: 768px) and (max-height: 1024px) {
    margin-top: -190px;
  }

  @media screen and (min-height: 576px) and (max-height: 768px) {
    margin-top: 200px;
  }

  @media screen and (min-height: 320px) and (max-height: 576px) {
    margin-top: -100px;
  }


  @media screen and (min-height: 0px) and (max-height: 320px) {
    margin-top: 200px;
  }
}
